################################################################################
#DATE: 2011-02-02
#SITE: http://datastrangler.com
#DESCRIPTION: MySQL config 5.0.x, 5.1.x, 5.5.x 
#RAM: 1GB RAM dedicated server
#Connections: 100 connections
################################################################################

[mysqld_safe]
nice 				= -15

[client]
socket 				= /var/lib/mysql/mysql.sock
default-character-set 		= utf8

[mysqld]
## Charset and Collation
character-set-server 		= utf8
collation-server 		= utf8_general_ci

## Files
back_log 			= 300
open-files-limit 		= 8192
open-files 			= 1024	
port 				= 3306
socket 				= /var/lib/mysql/mysql.sock
pid-file 			= /var/lib/mysql/mysql.pid
skip-external-locking
skip-name-resolve

[mysqldump]
quick
quote-names
max_allowed_packet = 128M